<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>GlassVue - About US</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Free HTML5 Website Template by gettemplates.co" name="description"/>
    <meta content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"
          name="keywords"/>
    <meta content="gettemplates.co" name="author"/>

    <!-- Facebook and Twitter integration -->
    <meta content="" property="og:title"/>
    <meta content="" property="og:image"/>
    <meta content="" property="og:url"/>
    <meta content="" property="og:site_name"/>
    <meta content="" property="og:description"/>
    <meta content="" name="twitter:title"/>
    <meta content="" name="twitter:image"/>
    <meta content="" name="twitter:url"/>
    <meta content="" name="twitter:card"/>

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

    <!-- Animate.css -->
    <link href="static/css/animate.css" rel="stylesheet">
    <!-- Icomoon Icon Fonts-->
    <link href="static/css/icomoon.css" rel="stylesheet">
    <!-- Themify Icons-->
    <link href="static/css/themify-icons.css" rel="stylesheet">
    <!-- Bootstrap  -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Magnific Popup -->
    <link href="static/css/magnific-popup.css" rel="stylesheet">

    <!-- Owl Carousel  -->
    <link href="static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/css/owl.theme.default.min.css" rel="stylesheet">

    <!-- Theme style  -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="col-sm-4">
                <a href="index.html"><img src="static/images/glassvuelogo.png" alt="LOGO" style="height: 80px; width: 300px;"></img></a>
            </div>
            <div class="row col-sm-8">
                <div class="col-md-12 text-right gtco-contact">
                    <ul class="">
                        <li><a href="https://www.linkedin.com/company/glassvue/" target="_blank"><i
                                class="icon-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/SNS-It-Services-388343791596037/" target="_blank"><i
                                class="ti-facebook"></i></a></li>
                        <li><a href="mailto:info@glassvue.net" target="_blank"><i class="icon-mail2"></i></a></li>
                        <li><a href="https://twitter.com/glassvue" target="_blank"><i class="ti-twitter-alt"></i> </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row col-sm-8">
                <div class="col-xs-12 text-right menu-1">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="about.html">About</a></li>
                        <li class="has-dropdown">
                            <a href="services.html">Services</a>
                            <ul class="dropdown" style="width:245px;">
                                <li><a href="services.html#webappdevelopment">Web Application Development</a></li>
                                <li><a href="services.html#mobileappdevelopment">Mobile App Development</a></li>
                                <li><a href="services.html#websitedevelopment">Website Development</a></li>
                                <li><a href="services.html#itstaffing">IT Staffing</a></li>
                                <li><a href="services.html#ittraining">IT Training</a></li>
                                <li><a href="services.html#cloudservices">Cloud Services</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <header class="gtco-cover gtco-cover-xs" id="gtco-header" role="banner"
            style="background-image:url(static/images/About_Us1.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc">
                            <h1 class="animate-box" data-animate-effect="fadeInUp">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section animate-box" id="gtco-history">
        <div class="gtco-container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Who we are</h2>
                    <p>GlassVue make software for business that want to be more profitable, efficient and agile</p>
                </div>
            </div>

            <div class="row row-pb-md">
                <div class="col-md-6" style="text-align:justify;">
                    <p>GlassVue is located in heart of Silicon Valley, San Jose, California. GlassVue is team of highly
                        motivated experienced software developer sharing common Goal - innovation, excellence and 100%
                        client satisfaction with client and customer business success using cutting edge latest tools
                        and technologies. We do believe in transformative power of new tools and technologies. We make
                        software for business that want to be more profitable, efficient and Agile.</p>
                </div>
                <div class="col-md-6" style="text-align:justify;">
                    <p>We do work by keeping in mind our mission and vision statements. We don’t compromise with
                        software products and services quality and deliver bug free, efficient products and services. We
                        always maintain our core values, awesome work culture with highly motivated team. We do
                        providing services like Web Development, Website Designing and Development, Mobile App
                        development, IT Staffing, IT Training and Cloud Services.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="gtco-section" id="gtco-team">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Core Team</h2>
                    <p>Highly Motivated, Dedicated and Experienced Software Developers Team</p>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img alt="Oracle Certified Programmer" src="static/images/architect.jpg">
                        <h3>Shane Wick</h3>
                        <strong class="role">Software Architect<br/>Full-Stack Java Developer</strong>
                        <p style="text-align:justify;">At GlassVue, Shane is responsible to analyze, design and
                            development for client's new business requirements.
                            He is also leading core technical team and focusing on delivering highly efficient bug free
                            products and services.
                            He is Responsible to Architectual design the whole system and environment.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img alt="Java Developer" src="static/images/Java.jpg">
                        <h3>Nick Pate</h3>
                        <strong class="role">Software Architect<br/>Full-Stack Java Developer</strong>
                        <p style="text-align:justify;">At GlassVue, Nick is responsible to analyze requirement, design
                            and development for client's new business requirements. He is also continuously in touch
                            with client to deliver efficient product and services and focusing on to make efficient
                            policy for company success.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 animate-box" data-animate-effect="fadeIn">
                    <div class="gtco-staff">
                        <img alt="Quality Assurance Developer" src="static/images/qa.jpg">
                        <h3>Sam Smith</h3>
                        <strong class="role">Architect Test Driven<br/>QA Developer</strong>
                        <p style="text-align:justify;">At GlassVue, Sam is responsible to analyze requirement, design
                            and test to developed
                            components. He is leading the core QA team.He is Customer relation specialist.
                            He is also involve with marketing, finance and operation
                            core team.</p>
                    </div>
                </div>

                <div class="clearfix visible-sm-block"></div>
            </div>

        </div>
    </div>
    <footer id="gtco-footer" role="contentinfo">
        <div class="gtco-container">
            <div class="row row-p	b-md">

                <div class="col-md-4">
                    <div class="gtco-widget">
                        <h3>About Us</h3>
                        <p style="text-align:justify;">GlassVue is team of Highly Motivated Experienced Software
                            Developer sharing common Goal - 100% Client Satisfaction with cutting edge latest tools and
                            technologies. We do believe in transformative power of new tools and technologies. Our
                            commitment is innovation and excellence. We make software for businesses that want to be
                            more profitable, efficient and Agile.</p>
                    </div>
                </div>

                <div class="col-md-4 col-md-push-1">
                    <div class="gtco-widget">
                        <h3>Links</h3>
                        <ul class="gtco-footer-links">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="mailto:careers@glassvue.net">Careers</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="gtco-widget">
                        <h3>Get In Touch</h3>
                        <ul class="gtco-quick-contact">
                            <li><i class="icon-phone"></i><a href="tel://14084900707"> +1 (720) 900-1681‬ </a></li>
                            <li><i class="icon-mail2"></i><a href="mailto:info@glassvue.net"> info@glassvue.net</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">&copy;2023 GlassVue. All Rights Reserved.</small>
                    </p>
                    <p class="pull-right">
                    <ul class="gtco-social-icons pull-right">
                        <li><a href="https://www.linkedin.com/company/glassvue/" target="_blank"><i
                                class="icon-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/SNS-It-Services-388343791596037/" target="_blank"><i
                                class="ti-facebook"></i></a></li>
                        <li><a href="mailto:info@glassvue.net" target="_blank"><i class="icon-mail2"></i></a></li>
                        <li><a href="https://twitter.com/glassvue" target="_blank"><i class="ti-twitter-alt"></i> </a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a class="js-gotop" href="#"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="static/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="static/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script src="static/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="static/js/main.js"></script>
</body>
</html>

